* {
    margin: 0;
    padding: 0;

}

body {
    background: linear-gradient(#7378ff, #000000);
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 20% 1fr;
}

header {
    display: flex;
    justify-content: center;
    grid-row: 1/1;
    grid-column: 1/4;
    align-items: center;
}

main {
    grid-row: 2/3;
    grid-column: 2/2;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
}

label {
    font-size: 17px;
}

input {
    width: 300px;
    margin: 25px 0;
    text-align: center;
    height: 25px;
}

.output-area {
    margin-top: 36px;
}

.output {
    font-size: 17px;
    text-align: center;
    font-weight: 500;

}

.hidden {
    display: none;
}

#mensage {
    margin-top: 20px;
    color: red;
}

button {
    width: 200px;
    height: 25px;
    background-color: white;
    border: 1px solid white;
    font-family: inherit;
    font-weight: 200;
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
}

.output-area {
   display: flex;
   flex-direction: column;
   align-items: center;
}

span {
    margin-top: 20px;
    color: white;
    font-size: 20px;
}
